.form-container {
  display: flex;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  min-height: 450px;
}
.contact-title span {
 color:#00bcd4;
}
.left-container {
  background-color: #00bcd4;
  color: white;
  flex: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left-container h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

.right-container {
  background-color: #fff;
  flex: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-container h2 {
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
}

.right-inner-container form {
  width: 100%;
}

input.form-control,
textarea.form-control {
  border-radius: 5px;
  padding: 15px 20px; 
  border: 1px solid #ccc;
  font-size: 16px; 
  height: 50px; 
}

textarea.form-control {
  height: 120px; 
  resize: none; 
}


button {
  background-color: #0ca8e6;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  padding: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #87CEEB;
}

.social-container {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.social {
  color: #0ca8e6;
  font-size: 18px;
  transition: color 0.3s;
}

.social:hover {
  color: #87CEEB;
}

.sm-view {
  display: none;
}

@media (max-width: 768px) {
  .form-container {
    flex-direction: column;
  }
  .sm-view {
    display: block;
  }
  .lg-view {
    display: none;
  }
}

/* .contact-title {
  font-size: 3rem;
  font-weight: 700;
  color: #0ca8e6;
  position: relative;
}

.contact-title::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  background-color: #0ca8e6;
  margin: 10px auto 0;
  border-radius: 2px; */
