nav ul Link{
  text-align: center;
}
.navbar {
  background: linear-gradient(90deg, #0ca8e6, #0ca8e6);
  transition: background-color 0.3s ease-in-out;
  position: fixed;
  }
  .navbar-brand {
    color: white !important;
    font-size: 1.8rem;
    animation: fadeInDown 1s ease-in-out;
  }
  
  .nav-link {
    color: #fff !important;
    position: relative;
    transition: color 0.3s ease;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: 0.3s ease-in-out;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }
  
  .nav-link:hover {
    color: #000 !important;
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  