/* Navbar styles */
.navbar {
  background: linear-gradient(90deg, #0ca8e6, #0ca8e6);
  transition: background-color 0.3s ease-in-out;
    padding: 1rem;
    position: fixed;
}

.navbar-brand {
  color: white !important;
  font-size: 1.8rem;
  animation: fadeInDown 1s ease-in-out;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item .nav-link {
  color: white !important;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

/* Burger icon */
.burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.burger-bar {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

@media (max-width: 767px) {
  .navbar-nav {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    flex-direction: column;
    align-items: start;
    width: 100%;
    background-color: #0ca8e6;
  }

  .navbar-nav.show {
    max-height: 500px;
    opacity: 1;
  }

  .nav-item {
    width: 100%;
    text-align: left;
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }

  .navbar-nav {
    flex-direction: row !important;
    opacity: 1 !important;
    max-height: none !important;
  }
}
.language-selector .dropdown-menu {
  min-width: 10px;
  z-index: 100;
}
