.skills-section {
    /* background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364); */
    color: black;
    padding: 60px 20px;
    text-align: center;
  }
  
  .skills-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
  }
  
  .skills-subtitle {
    font-size: 18px;
    margin-bottom: 40px;
    color: black;
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .skills-card {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .skills-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  }
  
  .skills-card h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #0ca8e6;
  }
  
  .skills-card ul {
    list-style: none;
    padding: 0;
  }
  
  .skills-card ul li {
    text-align: left;
    margin-bottom: 10px;
    font-size: 16px;
    position: relative;
    padding-left: 20px;
  }
  
  .skills-card ul li::before {
    content: "✓";
    position: absolute;
    left: 0;
    color: #87CEEB ;
    font-weight: bold;
  }
.skill-icon {
    color: #87CEEB ;
    margin-right: 10px;
    font-size: 20px;
    vertical-align: middle;
  }